
.callout[data-callout*="column"] > .callout-content,
.callout[data-callout*="column"] {
    --callout-color: var(--text-normal);
    --callout-icon: layout-dashboard;
    --columns: 2;

    box-shadow: none;
    border: 0;
    width: auto;
    padding: 0;
}

.callout:is([data-callout*="column"], [data-callout-metadata*="col2"]) .callout-content {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 10px;
}

.callout[data-callout*="column"][data-callout-metadata*="col3"] .callout {
    --columns: 3;
}

*.callout[data-callout*="column"][data-callout-metadata*="col4"] .callout {
    --columns: 4;
}
